body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: tahoma;
  color: #282828;
}

.button {
  margin: 1rem auto;
  background-color: #39495c;
  border-radius: .3rem;
  font-size: 1rem;
  width: 10rem;
  height: 4rem;
  color: white;
  padding: 20px;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
}

.cart {
  margin: 1.5rem 5rem;
  position: sticky;
  top: 50px;
  float: right;
  padding: 10px 30px;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.57);
}


.color-circle {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  border: 2px solid #d8d8d8;
  border-radius: 50%;
}

.product-display {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1rem;
}

.product-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: .5rem;
  margin: 5px;
  box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.17);
}

img {
  border: 2px solid #d8d8d8;
  width: 70%;
  margin: 20px;
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.product-info {
  width: 48%;
}
.product-image{
  display: block;
  width: 50%;
  align-self: center;
}

label {
  font-size: 20px;
  margin-bottom: 5px;
}

p {
  font-size: 22px;
}

select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}

ul {
  list-style-type: none;
}
.modal-esgotado{
  width: 100vw;
  height: 100vh;
  background: rbga(0,0,0,0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-esgotado.show{
  display: flex;
}

.modal{
  background: #f4f4f4;
  width: 30%;
  min-width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  padding: 0 1rem;
 
}
.modal h3{
  padding: 1rem 0;
  
}

.close{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}
.remove-item{
  margin-left: 1vw;
  justify-self: center;
  background-color: #c4c4c4;
  width:25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  
}
.filter{
  width: 50%;
  padding: 10px;
  margin: 0 10px;
} 
