:root{
  font-size: 10px;
}

body{
  display: flex;
  margin: 0;
  padding: 0;
} 

.product-display{
  display: flex;
  flex-flow: wrap column;
}

.product-container{
  display: flex;
  flex-wrap: wrap;

  margin: 2rem;
  width: 50%;

  box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
}

.product-image, .product-info{
  width: 45%;
  padding: 0.5rem;
}

img{
  display: block;
  margin: 1rem auto;
  width: 70%;
}

.cart{
  position: sticky;
  display: block;
  top: 50px;
  margin: 1.5rem 5rem;
  padding: 10px 30px;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.57);
}